<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<title></title>
</head>
<body>
<div style="height: 100%; width: 50%; float:left">
	<div id="71837624-848a-4c8f-b45f-d201fd241bdb" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("71837624-848a-4c8f-b45f-d201fd241bdb", [{"values": [53.3336, 24.4443, 22.22], "labels": ["Neutral", "Positive", "Negative"], "type": "pie", "hoverinfo": "label+percent"}], {"title": "BJP Blog Influence"}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
</div>
<div style="height: 100%; width: 50%; float:left">
	<div id="9089b299-083c-4426-8398-580b781aaf78" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("9089b299-083c-4426-8398-580b781aaf78", [{"values": [66.66, 19.61, 13.725], "labels": ["Neutral", "Positive", "Negative"], "type": "pie", "hoverinfo": "label+percent"}], {"title": "NCP Blog Influence"}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
</div>

</div>
</body>
</html>